*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F5F5F5 ;
    color: #222222;

}

header{
    background-color: #3F3D56;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
}

main{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
}

article{
    flex: 3;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-sizing: 0px 0px 10px rgba(0,0,0,0.1);
}

aside{
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px  0px  0px rgba(0,0,0,0.1);
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #2C2A3A;
    color: #EAEAEA;
    margin-top: 20px;
}

footer a{
    margin: 0 10px;
}

h2{
    color: #6c95ef;
    margin-bottom: 10px;
}


